
        *{
            margin: 0;
            padding: 0;
            font-family:sans-serif ;
            outline: 0;
            border: 0;
        }
  
        body{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .container{
            margin-top: 40px;
           border: 2px solid rgb(156, 154, 154);
            width: 100vh;
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 50px;
            border-radius: 20px;
            backdrop-filter: blur(50px);
            box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.5);
        }
       @media (max-width:960px) {
        .container{
            width: 70vh;
            height: 80vh;
        }
       }
       @media (max-width:300px) {
        .container{
            width: 70vh;
            height: 80vh;
            margin: 10px;
        }
    }
        input{
            margin: 5px;
            padding: .5rem;
            width: 20rem;
            border-radius: 10px;
            border: 1px solid rgb(206, 205, 205);
            
                }
                button{
                    padding: .5rem;
                    width: 6rem;
                    border-radius: 10px;
                }
                button:hover{
                    box-shadow: 2px 1px 5px ;
                    transform: 1s ease;
                }
                a{
                    text-decoration: none;
                    color: #000000;
                    font-size:15px;
                }
                h2{
                    color: #000000;
                    font-size: 30px;
                    margin-bottom: 30px;
                    font-weight: 750;

                }
                label{
                   
                    color: #000000;
                }
                .bt{
                    width: 40px;
                    background-color: white;
                }
                header{
                    background: #fff;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding: 1rem 1.5rem;
                    box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
}

.bars{
    width: 29px;
    background-color: white;
}
.bars:hover{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.01) ;
}
               
