*{
    margin: 0;
    padding: 0;
    font-family:sans-serif ;
    outline: 0;
    border: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
   border: 2px solid rgb(156, 154, 154);
    width: 100vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.5);
}

a span{
    color: #5778a8;
}
button::after{
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(45deg,#406d97,rgba(154, 203, 226, 0.5),#6eabe5);
    transform: rotateZ(60deg) translate(-5em, 7.5em);
} 

button{
    padding: .3em;
    width: 7em; 
    border-radius: 10px;
    background: #6eabe5;
    color: #ffffff;
    font-size: 17px;
    font-family: Tahoma;
    font-weight: 800;
     position: relative;
    overflow: hidden;
    line-height: 32px; 
}
 button:hover::after, button:focus::after{
    animation: sheen 1.5s forwards;  
   
} 

@keyframes sheen{
   100%{
    transform: rotateZ(60deg) translate(1em, -9em);
   }
}

@media (max-width:1600px) {
.container{
    width: 70vh;
    height: 80vh;
}

input{
    padding: .5rem;
    width: 20rem;
    border-radius: 10px;
    /* background-color: #ccc8c8; */
    border: 1px solid rgb(206, 205, 205);
    
        }
        
        a{
            text-decoration: none;
            color: #000000;
            font-size:15px;
        }
        h2{
            color: #000000;
            font-size: 30px;

        }
        label{
           
            color: #000000;
        }
        .cont{
            height: 25vh;
            display: flex;
            flex-direction: column;
        }
       
}


/* *****media phone size***** */
@media (max-width:300px) {
.container{
    width: 70vh;
    height: 80vh;
    margin: 10px;
}
button{
            padding: .5rem;
            width: 7rem;
            border-radius: 10px;
            background: #e5ac6e;
            color: #ffffff;
            font-size: 10px;
             position: relative;
            overflow: hidden;
            line-height: 20px; 
        }
         .button:hover::after,
         .button:focus::after{
            animation-name: sheen if forwards;
            animation-duration: 2s;
            animation-delay: 5s;

        } 
        @keyframes sheen{
           100%{
            transform: rotateZ('60deg') translate(1rem, -9rem);

           }
        }
        .button::after{
            content: '';
            position: absolute;
            top: -50%;
            right: -50%;
            bottom: -50%;
            left: -50%;
            background: linear-gradient(red,white,red);
            transform: rotateZ('60deg') translate(-5rem, 7.5rem);

        } 

        input{
            padding: .5rem;
            width: 20rem;
            border-radius: 10px;
            /* background-color: #ccc8c8; */
            border: 1px solid rgb(206, 205, 205);
            
                }
                
                a{
                    text-decoration: none;
                    color: #000000;
                    font-size:15px;
                }
                h2{
                    color: #000000;
                    font-size: 30px;
        
                }
                label{
                   
                    color: #000000;
                }
                .cont{
                    height: 25vh;
                    display: flex;
                    flex-direction: column;
                }
               
}

